/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);


}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 6px;
  border-radius: 55%;
}
.workout-details span:hover,.workout-details span:active{
  background-color: lightgray;
}
/* new workout form */
label, input {
  display: block;
}
input,textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
form button:hover, form button:active{
  background-color: lightgreen;

}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}


/* Styles for mobile */
@media (max-width: 599px) {
  .home {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 20px; /* Adjust the gap for mobile screens */
  }
  
}
/* Styles for tablet */
@media (min-width: 600px) and (max-width: 1199px) {
  .home {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 50px; /* Adjust the gap for tablet screens */
  }
}




/* drop down styles */
/* DropdownButton.css */

.dropdown-container {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  display: inline-block;
}

.dropdown-button {
  border: none; /* Remove borders */
  padding: 5px 5px; /* Add some padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Add a pointer cursor on hover */
  background-color:white;
  width: 40px;
  text-align: right;
  padding-right: 0%;
}




.dropdown-content {
  display: none; /* Hide the dropdown by default */
  position: absolute; /* Position the dropdown */
  right: 0%; /* Align the dropdown to the left of the button */
  top: 60%; /* Position the dropdown below the button */
  background-color: #f9f9f9; /* Light background color */
  min-width: 190px; /* Set a minimum width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Add shadow */
  z-index: 1; /* Ensure dropdown is on top */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition for sliding effect */
 padding-bottom: 15px;
 border-bottom-right-radius: 15px;
 border-bottom-left-radius: 15px;
 border-top-right-radius: 15px;
 border-top-left-radius: 15px;
 border-top-width: 2px;


}

.dropdown-item {
  background-color: #f9f9f9; /* Light background color for buttons */
  color: gray; /* Black text color */
  padding: 10px 16px; /* Add some padding */
  border: none; /* Remove borders */
  text-align: left; /* Align text to the left */
  width: 100%; /* Make buttons fill the width of the dropdown */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 14px; /* Increase font size */
  border-bottom: 3px solid gray;
  font-weight: "bold";
  
}

.dropdown-item:hover {
  background-color: #ddd; /* Change background on hover */
}

.dropdown-content.show {
  display: block; /* Show the dropdown when it's open */
  opacity: 1; /* Fully opaque */
  transform: translateY(0); /* Slide into view */
}

.dropdown-content {
  opacity: 0; /* Start as invisible */
  transform: translateY(-10px); /* Start slightly above */
}

.dropdown-item:disabled {
  background-color: #ddd; /* Light grey background */
  color: #a0a0a0; /* Grey text */
  cursor: not-allowed; /* Show not-allowed cursor */
  pointer-events: none; /* Prevent pointer events */
}
